@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron, jumbotronpicture">
    <h1>Hand Me Ups!</h1>
    <p class="lead">Don't throw away clothes that don't fit! Donate or sell used clothes below!</p>
    
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-3">
        <div class="thumbnail, thumbpic1">
            <p>
                <a class="btn btn-default" @Html.ActionLink("Tops", "Index", "Tops")</a>
            </p>
        </div>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
        <div class="col-md-3">
            <div class="thumbnail, thumbpic2">
                <p>
                    <a class="btn btn-default" @Html.ActionLink("Bottoms", "Index", "Bottoms")</a>
                </p>
            </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail, thumbpic3">
            <p>
                <a class="btn btn-default" @Html.ActionLink("Accessories", "Index", "Accessories")</a>
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail, thumbpic4">
            <p>
                <a class="btn btn-default" @Html.ActionLink("Shoes", "Index", "Shoes")</a>
            </p>
        </div>
    </div>

</div>